#body { margin: 0; font-size: 14px; line-height: 1.61; font-weight: 400; font-family: 'Open Sans', sans-serif; color: #333; }


a:visited { color: #61C; }
a:focus { outline: thin dotted; }
a:hover, a:active { color: #c00; outline: 0; }

ul { margin: 1em 0; padding: 0 0 0 20px; }
img { border: 0; max-width: 100%; }

#header, #footer, #container { max-width: 45em; margin: 0 auto; }

#header { padding: 0 0.5em; color: #C90B0B; }
#header #profile_pic { border-radius: 40px; float: left; margin: 0 1em 0 0;}
#header #title { font-size:1.5em; font-weight: bold; padding: 0 5em 0 0;}
#headline {font-size: 1em; font-weight: normal; margin: -1.5em 0 2.5em;}

#hero { padding: 2em; background-color: #f8f8f8; font-size:1.2em;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

#main_content { padding: 1em 1em; }
#main_content li { list-style-type: none; font-size: 1.1em;}
li .thumb { float:left; padding-right: 1em; }
li p { font-size: 0.9em; font-style: italic; }

#footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}
#footer #crp-stats { float: right; font-style: italic; }